@tailwind base;
@tailwind components;
@tailwind utilities;

.wt-title {
    @apply text-4xl font-bold text-white;
}

.page{
    @apply bg-gray-900 text-white flex-grow; /*fond bleu et texte blanc*/
}

.card{
    @apply bg-gray-800 p-6 rounded-lg shadow; /*fond gris, padding 6, bord arrondi, ombre*/
}

.p-blue{
    @apply text-blue-400; /*titre en bleu*/
}

.p-gray{
    @apply text-gray-400; /*texte gris*/
}

/*@keyframes fall {
    0% {
      transform: translateY(-100%);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }*/
  
/*  
  .hacker-background .character {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: monospace;
    font-size: 20px;
    color: #0f0; //Matrix-style green 
    animation: fall linear infinite;
    animation-duration: calc(3s + 2s * var(--i));
  }
  
  .hacker-background .character:nth-child(odd) {
    animation-duration: calc(2s + 2s * var(--i));
    color: rgba(0, 255, 0, 0.37); 
  }
  
  .hacker-background .character:nth-child(even) {
    animation-duration: calc(4s + 2s * var(--i));
    color: rgba(0, 255, 0, 0.37); 
  }
  
*/
