@tailwind base;
@tailwind components;
@tailwind utilities;

.wt-title {
  @apply text-4xl font-bold mb-4 text-center;
  color: var(--text-color);
}

.page {
  @apply flex-grow;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  @apply p-6 rounded-lg shadow;
}

.input{
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  @apply w-full p-2 rounded;
}

.p-blue {
  color: var(--button-bg-color);
}

.p-gray {
  color: var(--card-text-color);
}

.p-white {
  color: var(--text-color);
}

.p-gray2 {
  background-color: var(--profile-bg-color);
}

/*navbar button*/
.navbar {
  background-color: var(--nav-bg-color);
  color: var(--button-bg-color);
  border: none; /* Remove the white border */
}
.navbar:hover {
  background-color: var(--nav-hover-bg);
  @apply shadow-xl;
}

/*navbar*/
.nav {
  background-color: var(--nav-bg);
}

.navMenu {
  color: var(--text-color);
}
.navMenu:hover {
  color: var(--navMenu-hover-color);
}

.button {
  background-color: var(--button-bg-color);
  @apply text-white font-semibold py-2 px-4 rounded;
}

.button:hover {
  background-color: var(--button-hover-bg);
}

.markdown > * {
  /* Tailwind takes out all default styles applied to html elements.*/
  all: revert;
  white-space: pre-wrap; /* Allow code to wrap */
  word-wrap: break-word;
}

.settings {
  background-color: var(--input-bg-color);
  color: var(--card-text-color);
}

.settings:hover {
  color: var(--settings-hover-bg);
}

/* Default theme variables (dark theme) */
:root {
  --bg-color: #111827;         /* bg-gray-900 */
  --text-color: #ffffff;       /* text-white */
  --card-bg-color: #1F2937;    /* bg-gray-800 */
  --card-text-color: #9CA3AF;  /* text-gray-400 */
  --button-bg-color: #3B82F6;  /* bg-blue-500 */
  --button-hover-bg: #374151;  /* bg-blue-700 */
  --input-bg-color: #374151;   /* bg-gray-700 */
  --input-text-color: #ffffff; /* text-white */
  --settings-hover-bg: #1F2937; /* bg-gray-800 */
  --profile-bg-color: #374151; /* bg-gray-700 */
  --quill-toolbar-bg: #2d3748; /* bg-gray-800 */
  --nav-bg-color: #374151;     /* bg-gray-700 */
  --nav-hover-bg: #4a5568;     /* bg-gray-800 */
  --nav-bg: #1F2937;           /* bg-gray-800 */
  --navMenu-hover-color: #93C5FD; /* text-white */
}


/* Theme light-yellow */
.theme-Light {
  --bg-color: #ded1be;
  --text-color: #2c2c2c;          
  --card-bg-color: #e8e0d1;       
  --card-text-color: #2c2c2c;     
  --button-bg-color: #8f734d;     
  --button-hover-bg: #9c8765;     
  --input-bg-color: #cec2ac;      
  --input-text-color: #2c2c2c;    
  --settings-hover-bg: #c5b7a4;  
  --profile-bg-color: #e8e0d1;   
  --quill-toolbar-bg: #c5b7a4;    
  --nav-bg-color: #d6cbb8;       
  --nav-hover-bg: #cbbfae;        
  --nav-bg: #cec2ac;
  --navMenu-hover-color: #9c8765;         
}

